#binaries
/packwiz
*.exe
*.exe~
*.dll
*.so
*.dylib
ACTIVE/1.18.2/packwiz
ARCHIVED/1.17.2/packwiz

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# I use GoLand now
.idea/

dist/
